body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

main {
  margin: 0;
  background-image: url(./../../../../public/img/DeWatermark.ai_1725278727820.png);
  background-size: cover;
  min-height: 100vh;
}

.reportes-container {
  padding: 20px;
  max-width: 800px;
  margin: auto;
  width: 80%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h1 {
    text-align: center;
    font-size: 2rem;
    color: #333333;
    margin-bottom: 1.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1rem;
    color: #444;

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:hover {
      background-color: #f5f5f5;
    }
  }
}